<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- Barre de navigation -->
    <nav>
      <div class="onglets">
        <a href="/">Accueil</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/cv">Mon CV</a>
        <a href="/formulaire">Télécharger</a>
      </div>
    </nav>
    <!-- Fin de la barre de navigation -->
  
  <!-- Header -->
   <header>
     <h1>Web Designer</h1>
   </header>
  <!-- Fin du header -->
  
  <!-- Section principale -->
  <section class="main">
    
    <!-- Toutes les cartes -->
    
    <div class="cards">
      
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2014/08/13/20/16/school-417612_960_720.jpg">
        <div class="card-header">
          <h4 class="title">Formations</h4>
        </div>
        <div class="card-body">
          <p>BAC Général avec Spécialités Maths/Sciences de l'ingénieur</p>
        </div>
      </div>
      
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2017/05/04/16/37/meeting-2284501_960_720.jpg">
        <div class="card-header">
          <h4 class="title">Expériences Professionelles</h4>
        </div>
        <div class="card-body">
          <p>Stage chez Epitech Digital / Ancien équipier chez McDonald's</p>
        </div>
      </div>
      
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2017/11/10/04/46/folder-2935356_960_720.png">
        <div class="card-header">
          <h4 class="title">Compétences</h4>
        </div>
        <div class="card-body">
          <p>Voir la page de mon Portfolio</p>
        </div>
      </div>

      <div 
      
     </div>
    <!-- Fin de toutes les cartes -->
  </section>
  <!-- Fin de la section principale -->
  
  <!-- Pied de page -->
  <footer>
    <p>&copy; Contactez-moi au 07 83 54 53 28 ou à l'adresse suivante: joris.vialle@etu.univ-st-etienne.fr</p>
    <div class="social-media">
      <p><i class="fab fa-instagram"></i></p>
      <p><i class="fab fa-linkedin-in"></i></p>
    </div>
  </footer>
  <!-- Fin du pied de page -->
</body>
</html>