<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Formulaire</title>
    <link rel="stylesheet" href="styleForm.css" />
    <link rel="stylesheet"/>
  </head>
  <body>
    <nav>
        <div class="onglets">
          <a href="/">Accueil</a>
          <a href="/portfolio">Portfolio</a>
          <a href="/cv">Mon CV</a>
          <a href="/formulaire">Télécharger</a>
        </div>
      </nav>
    <form>
      <h1>Pour télécharger:</h1>
      <div class="separation"></div>
      <div class="corps-formulaire">
        <div class="gauche">
          <div class="groupe">
            <label>Nom/Prénom*</label>
            <input type="text" autocomplete="off" required/>
            <i class="fas fa-user"></i>
          </div>
          <div class="groupe">
            <label>Adresse e-mail*</label>
            <input type="text" autocomplete="off" required/>
            <i class="fas fa-envelope"></i>
          </div>
          <div class="groupe">
            <label>Téléphone</label>
            <input type="text" autocomplete="off" />
            <i class="fas fa-mobile"></i>
          </div>
        </div>

        <div class="droite">
          <div class="groupe">
            <label>Message</label>
            <textarea placeholder="Saisissez ici..."></textarea>
          </div>
        </div>
      </div>

      <div class="pied-formulaire" align="center">
        <button><a href="C:\Users\joris\OneDrive\Bureau\RT S1\SAé 1.04\CV.docx" download="CV Joris Vialle.docx">Télécharger le CV</a></button>
      </div>
    </form>
    <!-- Pied de page -->
  <footer>
    <p>&copy; Contactez-moi au 07 83 54 53 28 ou à l'adresse suivante: joris.vialle@etu.univ-st-etienne.fr</p>
    <div class="social-media">
      <p><i class="fab fa-instagram"></i></p>
      <p><i class="fab fa-linkedin-in"></i></p>
    </div>
  </footer>
  <!-- Fin du pied de page -->
  </body>
</html>
