<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page d'accueil</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Barre de navigation -->
  <nav>
    <div class="onglets">
      <a href="/">Accueil</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/cv">Mon CV</a>
      <a href="/formulaire">Télécharger</a>
      <a href="/plus">Pour en savoir plus</a>
    </div>
  </nav>
  <!-- Fin de la barre de navigation -->
  
  <!-- Header -->
   <header>
     <h1>Voici mon site pour mon Portfolio</h1>
   </header>
  <!-- Fin du header -->
  
  <!-- Section principale -->
  <section class="main">
    
    <!-- Toutes les cartes -->
    
    <div class="cards">
      
      <div class="card">
        <a href="/portfolio"><img src="https://cdn.pixabay.com/photo/2017/11/10/04/46/folder-2935356_960_720.png"></a>
        <div class="card-header">
          <h4 class="title">Mon Portfolio</h4>
        </div>
        <div class="card-body">
          <p>Cliquer pour visualiser mon Portfolio</p>
        </div>
      </div>
      
      <div class="card">
        <a href="/cv"><img src="https://cdn.pixabay.com/photo/2017/05/09/00/15/resume-2296951_960_720.png"></a>
        <div class="card-header">
          <h4 class="title">Mon CV</h4>
        </div>
        <div class="card-body">
          <p>Cliquer sur la photo pour visualiser mon CV</p>
        </div>
      </div>
      
      <div class="card">
        <a href="/formulaire"><img src="https://cdn.pixabay.com/photo/2017/11/10/05/24/upload-2935442_960_720.png"></a>
        <div class="card-header">
          <h4 class="title">Télécharger mon CV</h4>
        </div>
        <div class="card-body">
          <p>Un formulaire est a remplir</p>
        </div>
      </div>
      
     </div>
    <!-- Fin de toutes les cartes -->
  </section>
  <!-- Fin de la section principale -->
  
  <!-- Pied de page -->
  <footer>
    <p>&copy; Contactez-moi au 07 83 54 53 28 ou à l'adresse suivante: joris.vialle@etu.univ-st-etienne.fr</p>
    <div class="social-media">
      <p><i class="fab fa-instagram"></i></p>
      <p><i class="fab fa-linkedin-in"></i></p>
    </div>
  </footer>
  <!-- Fin du pied de page -->
</body>
</html>