<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Loisirs</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Barre de navigation -->
  <nav>
    <div class="onglets">
      <a href="/">Accueil</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/cv">Mon CV</a>
      <a href="/formulaire">Télécharger</a>
    </div>
  </nav>
  <!-- Fin de la barre de navigation -->
  
  <!-- Header -->
   <header>
     <h1>Mes loisirs, mes passion, mes envies:</h1>
   </header>
  <!-- Fin du header -->
  
  <!-- Section principale -->
  <section class="main">
    
    <!-- Toutes les cartes -->
    
    <div class="cards">
      
      <div class="card">
        <a><img src="https://cdn.pixabay.com/photo/2021/09/07/07/11/joysticks-6603119_960_720.jpg"></a>
        <div class="card-header">
          <h4 class="title">Les Jeux-Videos</h4>
        </div>
        <div class="card-body">
          <p>Esprit d'équipe / Patience / Réactivité</p>
        </div>
      </div>
      
      <div class="card">
        <a><img src="https://cdn.pixabay.com/photo/2016/04/26/22/41/people-1355497_960_720.jpg"></a>
        <div class="card-header">
          <h4 class="title">Le sport (notamment le football)</h4>
        </div>
        <div class="card-body">
          <p>Esprit d'équipe / Persévérance / Etre régulier</p>
        </div>
      </div>
      
      <div class="card">
        <a><img src="https://cdn.pixabay.com/photo/2017/08/10/08/47/laptop-2620118_960_720.jpg"></a>
        <div class="card-header">
          <h4 class="title">L'Informatique</h4>
        </div>
        <div class="card-body">
          <p>Connaissances dans ce domaine / Interréssé</p>
        </div>
      </div>
      
     </div>
    <!-- Fin de toutes les cartes -->
  </section>
  <!-- Fin de la section principale -->
  
  <!-- Pied de page -->
  <footer>
    <p>&copy; Contactez-moi au 07 83 54 53 28 ou à l'adresse suivante: joris.vialle@etu.univ-st-etienne.fr</p>
    <div class="social-media">
      <p><i class="fab fa-instagram"></i></p>
      <p><i class="fab fa-linkedin-in"></i></p>
    </div>
  </footer>
  <!-- Fin du pied de page -->
</body>
</html>