<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- Barre de navigation -->
    <nav>
      <div class="onglets">
        <a href="/">Accueil</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/cv">Mon CV</a>
        <a href="/formulaire">Télécharger</a>
      </div>
    </nav>
    <!-- Fin de la barre de navigation -->
  
  <!-- Header -->
   <header>
     <h1>Mon Portfolio De Compétences</h1>
   </header>
  <!-- Fin du header -->
  
  <!-- Section principale -->
  <section class="main">
    
    <!-- Toutes les cartes -->
    
    <div class="cards">
      
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2016/07/01/22/38/industrial-safety-1492062_960_720.png">
        <div class="card-header">
          <h4 class="title">Eléctricité</h4>
        </div>
        <div class="card-body">
          <p>Maîtriser les lois fondamentales de l’électricité</p>
        </div>
      </div>
      
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2012/04/11/00/00/cable-27193_960_720.png">
        <div class="card-header">
          <h4 class="title">Supports de Transmission</h4>
        </div>
        <div class="card-body">
          <p>Savoir déployer des supports de transmission</p>
        </div>
      </div>
      
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2016/11/30/17/10/web-1873373_960_720.png">
        <div class="card-header">
          <h4 class="title">Site Web</h4>
        </div>
        <div class="card-body">
          <p>Connaitre l'architecture et les technologies d'un site web</p>
        </div>
      </div>

      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2013/07/13/01/18/satellite-dish-155484_960_720.png">
        <div class="card-header">
          <h4 class="title">Les signaux</h4>
        </div>
        <div class="card-body">
          <p>Savoir mesurer et analyser les signaux</p>
        </div>
      </div>
      
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126880_960_720.png">
        <div class="card-header">
          <h4 class="title">Poste client</h4>
        </div>
        <div class="card-body">
          <p>Savoir installer un poste client</p>
        </div>
      </div>
      
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2022/02/06/00/52/circuit-6995984_960_720.png">
        <div class="card-header">
          <h4 class="title">Codage de l'information</h4>
        </div>
        <div class="card-body">
          <p>Comprendre les principes et standards du codage de l'information</p>
        </div>
      </div>
      
     </div>
    <!-- Fin de toutes les cartes -->
  </section>
  <!-- Fin de la section principale -->
  
  <!-- Pied de page -->
  <footer>
    <p>&copy; Contactez-moi au 07 83 54 53 28 ou à l'adresse suivante: joris.vialle@etu.univ-st-etienne.fr</p>
    <div class="social-media">
      <p><i class="fab fa-instagram"></i></p>
      <p><i class="fab fa-linkedin-in"></i></p>
    </div>
  </footer>
  <!-- Fin du pied de page -->
</body>
</html>